In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

import seaborn as sns

sns.set_style("darkgrid")

In [16]:
pr_df = pd.read_parquet("hf://datasets/hao-li/AIDev/pull_request.parquet")

In [2]:
pr_commits_df = pd.read_parquet("hf://datasets/hao-li/AIDev/pr_commits.parquet")
pr_commit_details_df = pd.read_parquet("hf://datasets/hao-li/AIDev/pr_commit_details.parquet")

/Users/dungp@backbase.com/Documents/aidev-mining/.venv/lib/python3.14/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
pr_commit_details_df.head(2)

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n..."
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im..."

In [11]:
# count nunique filename, nunique sha, sum changes
gr = pr_commit_details_df.groupby('pr_id').agg({'filename': 'nunique', 'sha': 'nunique', 'changes': 'sum'}).reset_index()
gr.columns = ['pr_id', 'num_file_changes', 'num_commits', 'sum_changes']

In [13]:
pr_commits_df.head()

,sha,pr_id,author,committer,message
0,15a543882cbad0c9348640cffdd71fb71ac34953,3205734508,rubys,rubys,refactor: Convert Build.Compose from string to...
1,cdd9bab35891037692f1d201db37d34d48342332,3107321792,haasonsaas,haasonsaas,Fix Windows compatibility issues in shell exec...
2,219323e2aa1dacd76a422ad24cabf6976c9a6ac0,3107321792,haasonsaas,haasonsaas,Add Windows path validation fixes and comprehe...
3,58c52841e96e9fdcb70befadf7b3994519834861,3107321792,haasonsaas,haasonsaas,Address CodeRabbit review feedback - fix criti...
4,b04470fe6bae5e6802f1fe83e7c5f0b9273e74a3,3107321792,haasonsaas,haasonsaas,Fix Windows compatibility tests - address patt...

In [14]:
gr

            pr_id  num_file_changes  num_commits  sum_changes
0      2756921963                15           16       1192.0
1      2757103560                16           10        779.0
2      2757124156                 1            1          2.0
3      2757125491                 1            1          2.0
4      2757179026                15            6       1802.0
...           ...               ...          ...          ...
33575  3278116754                 1            1         15.0
33576  3278129499                 3            1        138.0
33577  3278145927                 1            1          6.0
33578  3278146408                 8            2        104.0
33579  3278236128                 7            2        271.0

[33580 rows x 4 columns]

In [20]:
pr_df['is_merged'] = np.where(pr_df['merged_at'].isna(), 0, 1)

In [8]:
pr_commit_details_df[pr_commit_details_df['sha'] == "2f9d54dda4f0c87c19e0bbeb9936f525d0587e16"]

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n..."
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im..."
2,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,llms.txt,added,22923.0,0.0,22923.0,None

In [28]:
pr_df.head()

,id,number,title,body,agent,user_id,user,state,created_at,closed_at,merged_at,repo_id,repo_url,html_url,is_merged
0,3264933329,2911,Fix: Wait for all partitions in load_collectio...,## Summary\n\nFixes an issue where `load_colle...,Claude_Code,108661493,weiliu1031,closed,2025-07-26T02:59:01Z,2025-07-29T07:01:20Z,None,191751505,https://api.github.com/repos/milvus-io/pymilvus,https://github.com/milvus-io/pymilvus/pull/2911,0
1,3265118634,2,„Éï„Ç°„Ç§„É´„Éë„ÇπÂèÇÁÖß„ÇíÁõ∏ÂØæ„Éë„Çπ„Å´Áµ±‰∏Ä„Åó„ÄÅdoc/„Åã„Çâdocs/„Å´Áµ±‰∏Ä,## ËÉåÊôØ\n\nÁèæÂú®„ÄÅÊú¨„Éó„É≠„Ç∏„Çß„ÇØ„Éà„Å´„Åä„ÅÑ„Å¶‰ª•‰∏ã„ÅÆ„Éë„ÇπÊßãÊàê„ÅÆ‰∏çÊï¥Âêà„ÅåÁîü„Åò„Å¶„ÅÑ„Åæ„ÅôÔºö\n\n...,Claude_Code,61827001,cm-kojimat,closed,2025-07-26T04:56:55Z,2025-07-26T22:12:24Z,2025-07-26T22:12:24Z,1025472321,https://api.github.com/repos/classmethod/tsumiki,https://github.com/classmethod/tsumiki/pull/2,1
2,3265640341,30,Add build staleness detection for debug CLI,## Summary\r\n\r\n Implements comprehensive b...,Claude_Code,7475,MSch,closed,2025-07-26T13:31:19Z,2025-07-26T13:37:22Z,2025-07-26T13:37:22Z,988488798,https://api.github.com/repos/steipete/Peekaboo,https://github.com/steipete/Peekaboo/pull/30,1
3,3265709660,205,feat: add comprehensive README screenshots wit...,## Type of Change\n\n- [ ] üêõ `bug` - Bug fix (...,Claude_Code,80381,sugyan,closed,2025-07-26T14:07:22Z,2025-07-26T14:45:30Z,2025-07-26T14:45:30Z,999285986,https://api.github.com/repos/sugyan/claude-cod...,https://github.com/sugyan/claude-code-webui/pu...,1
4,3265782173,17625,chore: remove HashedPostStateProvider trait,## Summary\r\n\r\n#17545 \r\n\r\nRemove the un...,Claude_Code,47593288,adust09,open,2025-07-26T15:02:48Z,None,None,537233603,https://api.github.com/repos/paradigmxyz/reth,https://github.com/paradigmxyz/reth/pull/17625,0

In [29]:
tmp = pr_df[['id', 'is_merged', 'agent']]
tmp.columns = ['pr_id', 'is_merged', 'agent']
me_df = gr.merge(tmp, on='pr_id', how='left')

In [30]:
me_df.head()

        pr_id  num_file_changes  num_commits  sum_changes  is_merged  agent
0  2756921963                15           16       1192.0          0  Devin
1  2757103560                16           10        779.0          0  Devin
2  2757124156                 1            1          2.0          0  Devin
3  2757125491                 1            1          2.0          0  Devin
4  2757179026                15            6       1802.0          0  Devin

In [32]:
me_df.groupby(['is_merged']).agg({'pr_id': 'count', 'num_file_changes': 'mean', 'num_commits': 'mean', 'sum_changes': 'mean'}).reset_index()

   is_merged  pr_id  num_file_changes  num_commits  sum_changes
0          0   9566         22.043069     3.485678  3147.276918
1          1  24014         15.201507     2.299492  1505.479845

In [ ]:
# we can see a significant higher in num_file_changes, num_commits and sum_changes in failed PRs
# for the detail we filter out those new created PRs based on the stats of average from created time to merged time

In [31]:
me_df.groupby(['agent', 'is_merged']).agg({'pr_id': 'count', 'num_file_changes': 'mean', 'num_commits': 'mean', 'sum_changes': 'mean'}).reset_index()

          agent  is_merged  pr_id  num_file_changes  num_commits   sum_changes
0   Claude_Code          0    187         49.315508     6.748663  11446.716578
1   Claude_Code          1    271         23.664207     5.568266   6715.011070
2       Copilot          0   2828         24.150283     4.061174   5322.918670
3       Copilot          1   2139         30.387097     5.763441   5824.477326
4        Cursor          0    535         23.616822     4.009346   3957.168224
5        Cursor          1   1005         15.558209     4.005970   2278.425871
6         Devin          0   2227         24.674899     4.883700   2341.779973
7         Devin          1   2595         28.171869     4.780347   2971.702890
8  OpenAI_Codex          0   3789         17.355239     1.999472   1472.914225
9  OpenAI_Codex          1  18004         11.380582     1.385914    659.457954

In [37]:
gr2 = pr_commit_details_df.groupby(["pr_id", "status"]).agg({"filename": "nunique"}).reset_index()
gr2.columns = ['pr_id', 'status', 'num_file_changes']
gr2.head()

        pr_id    status  num_file_changes
0  2756921963     added                 7
1  2756921963  modified                14
2  2757103560     added                 1
3  2757103560  modified                16
4  2757124156  modified                 1

In [39]:
tmp = pr_df[['id', 'is_merged', 'agent']]
tmp.columns = ['pr_id', 'is_merged', 'agent']
me_df = gr2.merge(tmp, on='pr_id', how='left')

me_df.head()

        pr_id    status  num_file_changes  is_merged  agent
0  2756921963     added                 7          0  Devin
1  2756921963  modified                14          0  Devin
2  2757103560     added                 1          0  Devin
3  2757103560  modified                16          0  Devin
4  2757124156  modified                 1          0  Devin

In [40]:
me_df.pivot_table(index='is_merged', columns='status', values='num_file_changes', aggfunc='mean').reset_index()

status  is_merged      added   modified    removed    renamed
0               0  13.087398  15.385326  13.090375  17.617438
1               1  10.542305  10.593612   8.763889  13.144503

In [42]:
me_df.pivot_table(index=['agent', 'is_merged'], columns='status', values='num_file_changes', aggfunc='mean').reset_index()

status         agent  is_merged      added   modified    removed    renamed
0        Claude_Code          0  29.302326  29.088889  15.400000   5.888889
1        Claude_Code          1  15.137725  15.471698   7.239437   4.800000
2            Copilot          0  17.200311  18.092488  18.516807  23.389262
3            Copilot          1  15.983887  21.749055  16.353902  16.620000
4             Cursor          0  10.293956  16.535211   6.644444  20.611111
5             Cursor          1   7.631356  11.780836   4.370656   9.706667
6              Devin          0  11.484133  17.139317  14.704969  13.479798
7              Devin          1  18.160413  18.458564  10.236599  15.686411
8       OpenAI_Codex          0  10.782723  11.701923   6.878307  18.723684
9       OpenAI_Codex          1   8.875484   7.766810   5.923135  10.540761