In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

import seaborn as sns

sns.set_style("darkgrid")

In [16]:
pr_df = pd.read_parquet("hf://datasets/hao-li/AIDev/pull_request.parquet")

In [2]:
pr_commits_df = pd.read_parquet("hf://datasets/hao-li/AIDev/pr_commits.parquet")
pr_commit_details_df = pd.read_parquet("hf://datasets/hao-li/AIDev/pr_commit_details.parquet")

/Users/dungp@backbase.com/Documents/aidev-mining/.venv/lib/python3.14/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
pr_commit_details_df.head(2)

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n..."
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im..."

In [11]:
# count nunique filename, nunique sha, sum changes
gr = pr_commit_details_df.groupby('pr_id').agg({'filename': 'nunique', 'sha': 'nunique', 'changes': 'sum'}).reset_index()
gr.columns = ['pr_id', 'num_file_changes', 'num_commits', 'sum_changes']

In [13]:
pr_commits_df.head()

,sha,pr_id,author,committer,message
0,15a543882cbad0c9348640cffdd71fb71ac34953,3205734508,rubys,rubys,refactor: Convert Build.Compose from string to...
1,cdd9bab35891037692f1d201db37d34d48342332,3107321792,haasonsaas,haasonsaas,Fix Windows compatibility issues in shell exec...
2,219323e2aa1dacd76a422ad24cabf6976c9a6ac0,3107321792,haasonsaas,haasonsaas,Add Windows path validation fixes and comprehe...
3,58c52841e96e9fdcb70befadf7b3994519834861,3107321792,haasonsaas,haasonsaas,Address CodeRabbit review feedback - fix criti...
4,b04470fe6bae5e6802f1fe83e7c5f0b9273e74a3,3107321792,haasonsaas,haasonsaas,Fix Windows compatibility tests - address patt...

In [14]:
gr

            pr_id  num_file_changes  num_commits  sum_changes
0      2756921963                15           16       1192.0
1      2757103560                16           10        779.0
2      2757124156                 1            1          2.0
3      2757125491                 1            1          2.0
4      2757179026                15            6       1802.0
...           ...               ...          ...          ...
33575  3278116754                 1            1         15.0
33576  3278129499                 3            1        138.0
33577  3278145927                 1            1          6.0
33578  3278146408                 8            2        104.0
33579  3278236128                 7            2        271.0

[33580 rows x 4 columns]

In [20]:
pr_df['is_merged'] = np.where(pr_df['merged_at'].isna(), 0, 1)

In [8]:
pr_commit_details_df[pr_commit_details_df['sha'] == "2f9d54dda4f0c87c19e0bbeb9936f525d0587e16"]

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n..."
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im..."
2,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,llms.txt,added,22923.0,0.0,22923.0,None

In [28]:
pr_df.head()

,id,number,title,body,agent,user_id,user,state,created_at,closed_at,merged_at,repo_id,repo_url,html_url,is_merged
0,3264933329,2911,Fix: Wait for all partitions in load_collectio...,## Summary\n\nFixes an issue where `load_colle...,Claude_Code,108661493,weiliu1031,closed,2025-07-26T02:59:01Z,2025-07-29T07:01:20Z,None,191751505,https://api.github.com/repos/milvus-io/pymilvus,https://github.com/milvus-io/pymilvus/pull/2911,0
1,3265118634,2,„Éï„Ç°„Ç§„É´„Éë„ÇπÂèÇÁÖß„ÇíÁõ∏ÂØæ„Éë„Çπ„Å´Áµ±‰∏Ä„Åó„ÄÅdoc/„Åã„Çâdocs/„Å´Áµ±‰∏Ä,## ËÉåÊôØ\n\nÁèæÂú®„ÄÅÊú¨„Éó„É≠„Ç∏„Çß„ÇØ„Éà„Å´„Åä„ÅÑ„Å¶‰ª•‰∏ã„ÅÆ„Éë„ÇπÊßãÊàê„ÅÆ‰∏çÊï¥Âêà„ÅåÁîü„Åò„Å¶„ÅÑ„Åæ„ÅôÔºö\n\n...,Claude_Code,61827001,cm-kojimat,closed,2025-07-26T04:56:55Z,2025-07-26T22:12:24Z,2025-07-26T22:12:24Z,1025472321,https://api.github.com/repos/classmethod/tsumiki,https://github.com/classmethod/tsumiki/pull/2,1
2,3265640341,30,Add build staleness detection for debug CLI,## Summary\r\n\r\n Implements comprehensive b...,Claude_Code,7475,MSch,closed,2025-07-26T13:31:19Z,2025-07-26T13:37:22Z,2025-07-26T13:37:22Z,988488798,https://api.github.com/repos/steipete/Peekaboo,https://github.com/steipete/Peekaboo/pull/30,1
3,3265709660,205,feat: add comprehensive README screenshots wit...,## Type of Change\n\n- [ ] üêõ `bug` - Bug fix (...,Claude_Code,80381,sugyan,closed,2025-07-26T14:07:22Z,2025-07-26T14:45:30Z,2025-07-26T14:45:30Z,999285986,https://api.github.com/repos/sugyan/claude-cod...,https://github.com/sugyan/claude-code-webui/pu...,1
4,3265782173,17625,chore: remove HashedPostStateProvider trait,## Summary\r\n\r\n#17545 \r\n\r\nRemove the un...,Claude_Code,47593288,adust09,open,2025-07-26T15:02:48Z,None,None,537233603,https://api.github.com/repos/paradigmxyz/reth,https://github.com/paradigmxyz/reth/pull/17625,0

In [29]:
tmp = pr_df[['id', 'is_merged', 'agent']]
tmp.columns = ['pr_id', 'is_merged', 'agent']
me_df = gr.merge(tmp, on='pr_id', how='left')

In [30]:
me_df.head()

        pr_id  num_file_changes  num_commits  sum_changes  is_merged  agent
0  2756921963                15           16       1192.0          0  Devin
1  2757103560                16           10        779.0          0  Devin
2  2757124156                 1            1          2.0          0  Devin
3  2757125491                 1            1          2.0          0  Devin
4  2757179026                15            6       1802.0          0  Devin

In [32]:
me_df.groupby(['is_merged']).agg({'pr_id': 'count', 'num_file_changes': 'mean', 'num_commits': 'mean', 'sum_changes': 'mean'}).reset_index()

   is_merged  pr_id  num_file_changes  num_commits  sum_changes
0          0   9566         22.043069     3.485678  3147.276918
1          1  24014         15.201507     2.299492  1505.479845

In [ ]:
# we can see a significant higher in num_file_changes, num_commits and sum_changes in failed PRs
# for the detail we filter out those new created PRs based on the stats of average from created time to merged time

In [31]:
me_df.groupby(['agent', 'is_merged']).agg({'pr_id': 'count', 'num_file_changes': 'mean', 'num_commits': 'mean', 'sum_changes': 'mean'}).reset_index()

          agent  is_merged  pr_id  num_file_changes  num_commits   sum_changes
0   Claude_Code          0    187         49.315508     6.748663  11446.716578
1   Claude_Code          1    271         23.664207     5.568266   6715.011070
2       Copilot          0   2828         24.150283     4.061174   5322.918670
3       Copilot          1   2139         30.387097     5.763441   5824.477326
4        Cursor          0    535         23.616822     4.009346   3957.168224
5        Cursor          1   1005         15.558209     4.005970   2278.425871
6         Devin          0   2227         24.674899     4.883700   2341.779973
7         Devin          1   2595         28.171869     4.780347   2971.702890
8  OpenAI_Codex          0   3789         17.355239     1.999472   1472.914225
9  OpenAI_Codex          1  18004         11.380582     1.385914    659.457954

In [37]:
gr2 = pr_commit_details_df.groupby(["pr_id", "status"]).agg({"filename": "nunique"}).reset_index()
gr2.columns = ['pr_id', 'status', 'num_file_changes']
gr2.head()

        pr_id    status  num_file_changes
0  2756921963     added                 7
1  2756921963  modified                14
2  2757103560     added                 1
3  2757103560  modified                16
4  2757124156  modified                 1

In [39]:
tmp = pr_df[['id', 'is_merged', 'agent']]
tmp.columns = ['pr_id', 'is_merged', 'agent']
me_df = gr2.merge(tmp, on='pr_id', how='left')

me_df.head()

        pr_id    status  num_file_changes  is_merged  agent
0  2756921963     added                 7          0  Devin
1  2756921963  modified                14          0  Devin
2  2757103560     added                 1          0  Devin
3  2757103560  modified                16          0  Devin
4  2757124156  modified                 1          0  Devin

In [40]:
me_df.pivot_table(index='is_merged', columns='status', values='num_file_changes', aggfunc='mean').reset_index()

status  is_merged      added   modified    removed    renamed
0               0  13.087398  15.385326  13.090375  17.617438
1               1  10.542305  10.593612   8.763889  13.144503

In [42]:
me_df.pivot_table(index=['agent', 'is_merged'], columns='status', values='num_file_changes', aggfunc='mean').reset_index()

status         agent  is_merged      added   modified    removed    renamed
0        Claude_Code          0  29.302326  29.088889  15.400000   5.888889
1        Claude_Code          1  15.137725  15.471698   7.239437   4.800000
2            Copilot          0  17.200311  18.092488  18.516807  23.389262
3            Copilot          1  15.983887  21.749055  16.353902  16.620000
4             Cursor          0  10.293956  16.535211   6.644444  20.611111
5             Cursor          1   7.631356  11.780836   4.370656   9.706667
6              Devin          0  11.484133  17.139317  14.704969  13.479798
7              Devin          1  18.160413  18.458564  10.236599  15.686411
8       OpenAI_Codex          0  10.782723  11.701923   6.878307  18.723684
9       OpenAI_Codex          1   8.875484   7.766810   5.923135  10.540761

In [43]:
human_pr_df = pd.read_parquet("hf://datasets/hao-li/AIDev/human_pull_request.parquet")

In [44]:
human_pr_df.head()

,id,number,title,user,user_id,state,created_at,closed_at,merged_at,repo_url,html_url,body,agent
0,2336888723,85268,feat(aci): add automations index page,ameliahsu,55610339,closed,2025-02-14T19:04:59Z,2025-02-18T22:42:20Z,2025-02-18T22:42:19Z,https://api.github.com/repos/getsentry/sentry,https://github.com/getsentry/sentry/pull/85268,https://sentry-j41gpomr5.sentry.dev/automation...,Human
1,2447123365,89131,ref(insights): Make use of `<FeatureBadge>` fo...,ryan953,187460,closed,2025-04-08T23:29:50Z,2025-04-09T15:56:55Z,2025-04-09T15:56:54Z,https://api.github.com/repos/getsentry/sentry,https://github.com/getsentry/sentry/pull/89131,Using the premade component reduces an import ...,Human
2,2438086945,88748,:bug: fix: update how we fetch workflow_id and...,iamrajjoshi,33237075,closed,2025-04-03T21:36:59Z,2025-04-04T15:10:57Z,2025-04-04T15:10:57Z,https://api.github.com/repos/getsentry/sentry,https://github.com/getsentry/sentry/pull/88748,i realized i made a mistake for how i fetch th...,Human
3,2265431531,83085,fix(org-stats): Require project membership,ArthurKnaus,7033940,closed,2025-01-08T07:47:13Z,2025-01-08T08:49:40Z,2025-01-08T08:49:40Z,https://api.github.com/repos/getsentry/sentry,https://github.com/getsentry/sentry/pull/83085,### Problem\r\n\r\nIf the user is not member o...,Human
4,2332333882,85102,ref(consumers): Rename parallel -> batched-par...,evanpurkhiser,1421724,closed,2025-02-12T21:24:17Z,2025-02-12T22:20:33Z,2025-02-12T22:20:33Z,https://api.github.com/repos/getsentry/sentry,https://github.com/getsentry/sentry/pull/85102,Both crons and uptime consumers have a paralle...,Human

In [49]:
pr_df[pr_df['id'] == 3271196926]

,id,number,title,body,agent,user_id,user,state,created_at,closed_at,merged_at,repo_id,repo_url,html_url,is_merged
33352,3271196926,1179,Add llms.txt compilation system for AI model d...,# Add llms.txt compilation system for AI model...,Devin,158243242,devin-ai-integration[bot],closed,2025-07-28T20:07:12Z,2025-07-28T21:32:04Z,2025-07-28T21:32:04Z,679017521,https://api.github.com/repos/AgentOps-AI/agentops,https://github.com/AgentOps-AI/agentops/pull/1179,1

In [47]:
pr_commit_details_df.head()

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n..."
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im..."
2,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,llms.txt,added,22923.0,0.0,22923.0,None
3,dbd1b5f129f7cffa5ce284d7255814c98bcc38a2,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Fix lint issues: remove unused variable and ap...,35,18,17,docs/compile_llms_txt.py,modified,18.0,17.0,35.0,"@@ -1,47 +1,48 @@\n import os\n from pathlib i..."
4,c2659cfdedf666c8f14753d71664563c2a932b23,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Update llms.txt to follow official standard wi...,23035,89,22946,docs/compile_llms_txt.py,modified,51.0,36.0,87.0,"@@ -3,45 +3,60 @@\n \n \n def compile_llms_txt..."

# Increase agentic PRs over time

In [54]:
pr_df = pd.read_parquet("hf://datasets/hao-li/AIDev/pull_request.parquet")

In [55]:
pr_df['is_merged'] = np.where(pr_df['merged_at'].isna(), 0, 1)
pr_df['created_at_dt'] = pd.to_datetime(pr_df['created_at'])
pr_df['created_at_ym'] = pr_df['created_at_dt'].dt.strftime('%Y-%m')
pr_df['merged_at_dt'] = pd.to_datetime(pr_df['merged_at'])
pr_df['merged_at_ym'] = pr_df['merged_at_dt'].dt.strftime('%Y-%m')
pr_df.head()

,id,number,title,body,agent,user_id,user,state,created_at,closed_at,merged_at,repo_id,repo_url,html_url,is_merged,created_at_dt,created_at_ym,merged_at_dt,merged_at_ym
0,3264933329,2911,Fix: Wait for all partitions in load_collectio...,## Summary\n\nFixes an issue where `load_colle...,Claude_Code,108661493,weiliu1031,closed,2025-07-26T02:59:01Z,2025-07-29T07:01:20Z,None,191751505,https://api.github.com/repos/milvus-io/pymilvus,https://github.com/milvus-io/pymilvus/pull/2911,0,2025-07-26 02:59:01+00:00,2025-07,NaT,NaN
1,3265118634,2,„Éï„Ç°„Ç§„É´„Éë„ÇπÂèÇÁÖß„ÇíÁõ∏ÂØæ„Éë„Çπ„Å´Áµ±‰∏Ä„Åó„ÄÅdoc/„Åã„Çâdocs/„Å´Áµ±‰∏Ä,## ËÉåÊôØ\n\nÁèæÂú®„ÄÅÊú¨„Éó„É≠„Ç∏„Çß„ÇØ„Éà„Å´„Åä„ÅÑ„Å¶‰ª•‰∏ã„ÅÆ„Éë„ÇπÊßãÊàê„ÅÆ‰∏çÊï¥Âêà„ÅåÁîü„Åò„Å¶„ÅÑ„Åæ„ÅôÔºö\n\n...,Claude_Code,61827001,cm-kojimat,closed,2025-07-26T04:56:55Z,2025-07-26T22:12:24Z,2025-07-26T22:12:24Z,1025472321,https://api.github.com/repos/classmethod/tsumiki,https://github.com/classmethod/tsumiki/pull/2,1,2025-07-26 04:56:55+00:00,2025-07,2025-07-26 22:12:24+00:00,2025-07
2,3265640341,30,Add build staleness detection for debug CLI,## Summary\r\n\r\n Implements comprehensive b...,Claude_Code,7475,MSch,closed,2025-07-26T13:31:19Z,2025-07-26T13:37:22Z,2025-07-26T13:37:22Z,988488798,https://api.github.com/repos/steipete/Peekaboo,https://github.com/steipete/Peekaboo/pull/30,1,2025-07-26 13:31:19+00:00,2025-07,2025-07-26 13:37:22+00:00,2025-07
3,3265709660,205,feat: add comprehensive README screenshots wit...,## Type of Change\n\n- [ ] üêõ `bug` - Bug fix (...,Claude_Code,80381,sugyan,closed,2025-07-26T14:07:22Z,2025-07-26T14:45:30Z,2025-07-26T14:45:30Z,999285986,https://api.github.com/repos/sugyan/claude-cod...,https://github.com/sugyan/claude-code-webui/pu...,1,2025-07-26 14:07:22+00:00,2025-07,2025-07-26 14:45:30+00:00,2025-07
4,3265782173,17625,chore: remove HashedPostStateProvider trait,## Summary\r\n\r\n#17545 \r\n\r\nRemove the un...,Claude_Code,47593288,adust09,open,2025-07-26T15:02:48Z,None,None,537233603,https://api.github.com/repos/paradigmxyz/reth,https://github.com/paradigmxyz/reth/pull/17625,0,2025-07-26 15:02:48+00:00,2025-07,NaT,NaN

In [57]:
gr = pr_df.groupby(['created_at_ym']).agg({'id': 'count'}).reset_index()
gr.columns = ['created_at_ym', 'num_prs']
gr.head()

  created_at_ym  num_prs
0       2024-12       65
1       2025-01      412
2       2025-02      539
3       2025-03      744
4       2025-04      819

In [58]:
# calculate MoM growth rate
gr['MoM_growth_rate'] = gr['num_prs'].pct_change()
gr.head()

  created_at_ym  num_prs  MoM_growth_rate
0       2024-12       65              NaN
1       2025-01      412         5.338462
2       2025-02      539         0.308252
3       2025-03      744         0.380334
4       2025-04      819         0.100806

In [75]:
# merged rate. 
gr_merged = pr_df.groupby(['created_at_ym'])['is_merged'].value_counts().unstack().fillna(0).reset_index()
gr_merged.columns = ['created_at_ym', 'num_not_merged_prs', 'num_merged_prs']
gr_merged['total_prs'] = gr_merged['num_not_merged_prs'] + gr_merged['num_merged_prs']
gr_merged['merged_rate'] = gr_merged['num_merged_prs'] / gr_merged['total_prs']
gr_merged.head()

  created_at_ym  num_not_merged_prs  num_merged_prs  total_prs  merged_rate
0       2024-12                  35              30         65     0.461538
1       2025-01                 237             175        412     0.424757
2       2025-02                 330             209        539     0.387755
3       2025-03                 377             367        744     0.493280
4       2025-04                 329             490        819     0.598291

In [70]:
pr_df.state.value_counts()

state
closed    31284
open       2312
Name: count, dtype: int64

In [73]:
pr_df[pr_df['state'] == 'open']['created_at_ym'].value_counts() # there are PRs created but not merged

created_at_ym
2025-07    1116
2025-06     801
2025-05     371
2025-04       9
2025-03       8
2025-02       7
Name: count, dtype: int64

In [76]:
re = gr.merge(gr_merged[['created_at_ym', 'merged_rate']], on='created_at_ym', how='left')

*** insights

In [77]:
re

  created_at_ym  num_prs  MoM_growth_rate  merged_rate
0       2024-12       65              NaN     0.461538
1       2025-01      412         5.338462     0.424757
2       2025-02      539         0.308252     0.387755
3       2025-03      744         0.380334     0.493280
4       2025-04      819         0.100806     0.598291
5       2025-05     5771         6.046398     0.692947
6       2025-06    12107         1.097903     0.747584
7       2025-07    13139         0.085240     0.737727

In [79]:
pr_commit_details_df.head()

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n..."
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im..."
2,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,llms.txt,added,22923.0,0.0,22923.0,None
3,dbd1b5f129f7cffa5ce284d7255814c98bcc38a2,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Fix lint issues: remove unused variable and ap...,35,18,17,docs/compile_llms_txt.py,modified,18.0,17.0,35.0,"@@ -1,47 +1,48 @@\n import os\n from pathlib i..."
4,c2659cfdedf666c8f14753d71664563c2a932b23,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Update llms.txt to follow official standard wi...,23035,89,22946,docs/compile_llms_txt.py,modified,51.0,36.0,87.0,"@@ -3,45 +3,60 @@\n \n \n def compile_llms_txt..."

In [81]:
gr_commit = pr_commit_details_df.groupby('pr_id').agg({
    'filename': 'nunique', 
    'sha': 'nunique', 
    'changes': 'sum', 
    'additions': 'sum', 
    'deletions': 'sum',
}).reset_index()
gr_commit.columns = ['pr_id', 'num_file_changes', 'num_commits', 'sum_changes', 'sum_additions', 'sum_deletions']
gr_commit.head()

,pr_id,num_file_changes,num_commits,sum_changes,sum_additions,sum_deletions
0,2756921963,15,16,1192.0,848.0,344.0
1,2757103560,16,10,779.0,517.0,262.0
2,2757124156,1,1,2.0,1.0,1.0
3,2757125491,1,1,2.0,1.0,1.0
4,2757179026,15,6,1802.0,1633.0,169.0

In [83]:
check_commit = pr_commit_details_df.groupby(['pr_id', 'sha']).agg({
    'commit_stats_total': 'mean', 
    'commit_stats_additions': 'mean', 
    'commit_stats_deletions': 'mean',
}).reset_index()
check_commit.columns = ['pr_id', 'sha', 'commit_stats_total', 'commit_stats_additions', 'commit_stats_deletions']

check_commit = check_commit.groupby('pr_id').agg({
    'commit_stats_total': 'sum', 
    'commit_stats_additions': 'sum', 
    'commit_stats_deletions': 'sum',
}).reset_index()
check_commit.head()

,pr_id,commit_stats_total,commit_stats_additions,commit_stats_deletions
0,2756921963,1192.0,848.0,344.0
1,2757103560,779.0,517.0,262.0
2,2757124156,2.0,1.0,1.0
3,2757125491,2.0,1.0,1.0
4,2757179026,1802.0,1633.0,169.0

In [84]:
check_df = gr_commit.merge(check_commit, on='pr_id', how='left')

In [87]:
check_df.head()

,pr_id,num_file_changes,num_commits,sum_changes,sum_additions,sum_deletions,commit_stats_total,commit_stats_additions,commit_stats_deletions
0,2756921963,15,16,1192.0,848.0,344.0,1192.0,848.0,344.0
1,2757103560,16,10,779.0,517.0,262.0,779.0,517.0,262.0
2,2757124156,1,1,2.0,1.0,1.0,2.0,1.0,1.0
3,2757125491,1,1,2.0,1.0,1.0,2.0,1.0,1.0
4,2757179026,15,6,1802.0,1633.0,169.0,1802.0,1633.0,169.0

In [89]:
# check to make sure aggregation is correct
print(check_df[(check_df['commit_stats_total'] == check_df['sum_changes']) == False].shape)
print(check_df[(check_df['commit_stats_additions'] == check_df['sum_additions']) == False].shape)
print(check_df[(check_df['commit_stats_deletions'] == check_df['sum_deletions']) == False].shape)

(506, 9)
(494, 9)
(413, 9)

*** Note:There is a mismatch in the aggregation. properly its because of large files patch stats. not sure about the reason. might remove this to make sure the aggregation is correct.

In [91]:
check_df[(check_df['commit_stats_total'] == check_df['sum_changes']) == False]

,pr_id,num_file_changes,num_commits,sum_changes,sum_additions,sum_deletions,commit_stats_total,commit_stats_additions,commit_stats_deletions
84,2767891481,321,3,631203.0,631203.0,0.0,668966.0,668848.0,118.0
106,2769204205,327,7,653161.0,12534.0,640627.0,689971.0,12863.0,677108.0
119,2770944230,304,2,5554.0,3356.0,2198.0,25912.0,14304.0,11608.0
166,2776825485,323,7,17515.0,12165.0,5350.0,25445.0,17875.0,7570.0
263,2791677300,375,4,61618.0,51821.0,9797.0,62395.0,52598.0,9797.0
...,...,...,...,...,...,...,...,...,...
33397,3276261888,99,1,45213.0,8743.0,36470.0,46301.0,8954.0,37347.0
33399,3276267960,76,1,14638.0,1851.0,12787.0,14816.0,1872.0,12944.0
33400,3276270238,106,1,20534.0,4066.0,16468.0,22092.0,4363.0,17729.0
33421,3276422263,20,1,22504.0,7110.0,15394.0,24840.0,7867.0,16973.0
33463,3276753975,305,4,98039.0,98036.0,3.0,109995.0,109992.0,3.0

In [99]:
check = pr_commit_details_df[pr_commit_details_df['pr_id'] == 2767891481]
# aggregate all the stats
check_re = check.groupby(['pr_id', 'sha']).agg({
    'commit_stats_total': 'mean', 
    'commit_stats_additions': 'mean', 
    'commit_stats_deletions': 'mean',
    'changes': 'sum', 
    'additions': 'sum', 
    'deletions': 'sum',}).reset_index()
check_re.head()

,pr_id,sha,commit_stats_total,commit_stats_additions,commit_stats_deletions,changes,additions,deletions
0,2767891481,12fbb1fa93cadd2332818307496780f0c2ae42a9,300.0,300.0,0.0,300.0,300.0,0.0
1,2767891481,1304dd3af924bbc4a9ceec189b5685d7309b46f6,668474.0,668356.0,118.0,630711.0,630711.0,0.0
2,2767891481,a4dc94eb5dddd138b9770597b01f45833b989538,192.0,192.0,0.0,192.0,192.0,0.0

In [96]:
pr_commit_details_df[pr_commit_details_df['pr_id'] == 2767891481].shape

(321, 14)

In [100]:
check_re

,pr_id,sha,commit_stats_total,commit_stats_additions,commit_stats_deletions,changes,additions,deletions
0,2767891481,12fbb1fa93cadd2332818307496780f0c2ae42a9,300.0,300.0,0.0,300.0,300.0,0.0
1,2767891481,1304dd3af924bbc4a9ceec189b5685d7309b46f6,668474.0,668356.0,118.0,630711.0,630711.0,0.0
2,2767891481,a4dc94eb5dddd138b9770597b01f45833b989538,192.0,192.0,0.0,192.0,192.0,0.0

In [108]:
list_pr_sha = check_df[(check_df['commit_stats_total'] == check_df['sum_changes'])][['pr_id']]
pr_commit_details_df.merge(list_pr_sha, on=['pr_id'], how='inner')[['pr_id', 'sha', 'patch']].isnull().sum()

pr_id        0
sha          0
patch    21932
dtype: int64

In [107]:
pr_commit_details_df.head()

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n..."
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im..."
2,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,llms.txt,added,22923.0,0.0,22923.0,None
3,dbd1b5f129f7cffa5ce284d7255814c98bcc38a2,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Fix lint issues: remove unused variable and ap...,35,18,17,docs/compile_llms_txt.py,modified,18.0,17.0,35.0,"@@ -1,47 +1,48 @@\n import os\n from pathlib i..."
4,c2659cfdedf666c8f14753d71664563c2a932b23,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Update llms.txt to follow official standard wi...,23035,89,22946,docs/compile_llms_txt.py,modified,51.0,36.0,87.0,"@@ -3,45 +3,60 @@\n \n \n def compile_llms_txt..."

In [101]:
pr_commit_details_df[(pr_commit_details_df['pr_id'] == 2767891481) & (pr_commit_details_df['sha'] == '1304dd3af924bbc4a9ceec189b5685d7309b46f6')]

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch
99232,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.eslintrc.json,renamed,0.0,0.0,0.0,None
99233,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/app-build-m...,added,77.0,0.0,77.0,"@@ -0,0 +1,77 @@\n+{\n+ ""pages"": {\n+ ""/pa..."
99234,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/build-manif...,added,25.0,0.0,25.0,"@@ -0,0 +1,25 @@\n+{\n+ ""pages"": {\n+ ""/_a..."
99235,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/build/chunk...,added,6814.0,0.0,6814.0,None
99236,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/build/chunk...,added,89.0,0.0,89.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99527,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/static/chun...,added,39.0,0.0,39.0,None
99528,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/static/chun...,added,7445.0,0.0,7445.0,None
99529,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/static/chun...,added,123.0,0.0,123.0,None
99530,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/static/chun...,added,4795.0,0.0,4795.0,None
99531,1304dd3af924bbc4a9ceec189b5685d7309b46f6,2767891481,benjaminshafii,benjaminshafii,feat(request): first web app draft,668474,668356,118,packages/request-invoice-web/.next/static/chun...,added,49.0,0.0,49.0,None

In [110]:
re

  created_at_ym  num_prs  MoM_growth_rate  merged_rate
0       2024-12       65              NaN     0.461538
1       2025-01      412         5.338462     0.424757
2       2025-02      539         0.308252     0.387755
3       2025-03      744         0.380334     0.493280
4       2025-04      819         0.100806     0.598291
5       2025-05     5771         6.046398     0.692947
6       2025-06    12107         1.097903     0.747584
7       2025-07    13139         0.085240     0.737727

In [114]:
commit_stats = pr_commit_details_df.groupby(['pr_id', 'sha', 'status']).agg({
    'filename': 'nunique', 
    'changes': 'sum', 
    'additions': 'sum', 
    'deletions': 'sum',
}).reset_index()
commit_stats.columns = ['pr_id', 'sha', 'status', 'num_file_changes', 'changes', 'additions', 'deletions']
commit_stats.head()

,pr_id,sha,status,num_file_changes,changes,additions,deletions
0,2756921963,19f2aaa027425fb279293ae6e8395e102169e52c,modified,1,1.0,0.0,1.0
1,2756921963,2a5e4fa12c0571bbfe466eb64e103907b6799e02,modified,4,4.0,0.0,4.0
2,2756921963,36c5199181668a5a57e8a8ac8c0bfef90554227d,modified,9,23.0,12.0,11.0
3,2756921963,4439cfff196064bcc1a479a6c8ecc7e9f4f8f208,modified,8,23.0,23.0,0.0
4,2756921963,5b39eda27960235976b75185676271b5ab8d1064,modified,3,8.0,4.0,4.0

In [128]:
commit_status_pr = commit_stats.groupby('pr_id').agg({
    'num_file_changes': 'sum',
    'changes': 'sum',
    'additions': 'sum',
    'deletions': 'sum',
}).reset_index()
commit_status_pr.head()

        pr_id  num_file_changes  changes  additions  deletions
0  2756921963                74   1192.0      848.0      344.0
1  2757103560                33    779.0      517.0      262.0
2  2757124156                 1      2.0        1.0        1.0
3  2757125491                 1      2.0        1.0        1.0
4  2757179026                21   1802.0     1633.0      169.0

In [131]:
tmp = pr_df[['id', 'created_at_ym']]
tmp.columns = ['pr_id', 'created_at_ym']
commit_status_pr = commit_status_pr.merge(tmp, on='pr_id', how='left')
commit_satus_pr_2 = commit_status_pr.groupby(['created_at_ym']).agg({'num_file_changes': 'sum', 'changes': 'sum', 'additions': 'sum', 'deletions': 'sum'}).reset_index()
commit_satus_pr_2.head()

  created_at_ym  num_file_changes    changes  additions  deletions
0       2024-12              1454   192169.0   116739.0    75430.0
1       2025-01             12768  2287904.0  1254058.0  1033846.0
2       2025-02             16159  1922700.0  1055734.0   866966.0
3       2025-03             23271  1199695.0   899165.0   300530.0
4       2025-04             34204  2012779.0  1192198.0   820581.0

In [136]:
re2 = re.merge(commit_satus_pr_2, on='created_at_ym', how='left')

re2['addition_ratio'] = re2['additions'] / re2['changes']
re2

,created_at_ym,num_prs,MoM_growth_rate,merged_rate,num_file_changes,changes,additions,deletions,addition_ratio
0,2024-12,65,NaN,0.461538,1454,192169.0,116739.0,75430.0,0.607481
1,2025-01,412,5.338462,0.424757,12768,2287904.0,1254058.0,1033846.0,0.548125
2,2025-02,539,0.308252,0.387755,16159,1922700.0,1055734.0,866966.0,0.549089
3,2025-03,744,0.380334,0.493280,23271,1199695.0,899165.0,300530.0,0.749495
4,2025-04,819,0.100806,0.598291,34204,2012779.0,1192198.0,820581.0,0.592314
5,2025-05,5771,6.046398,0.692947,113165,9981478.0,6192891.0,3788587.0,0.620438
6,2025-06,12107,1.097903,0.747584,216188,21482420.0,13698530.0,7783890.0,0.637662
7,2025-07,13139,0.085240,0.737727,289560,27180299.0,18788043.0,8392256.0,0.691238

# How the changes are spreaded

In [138]:
spread_df = pr_commit_details_df.copy()

In [141]:
spread_df['module'] = spread_df['filename'].str.split('/')

In [143]:
spread_df.head(2)

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch,module
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n...","[.github, workflows, compile-llms-txt.yml]"
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im...","[docs, compile_llms_txt.py]"

In [152]:
spread_df['module'].str.len().describe()

count    706791.000000
mean          4.815459
std           2.158934
min           1.000000
25%           3.000000
50%           5.000000
75%           6.000000
max          19.000000
Name: module, dtype: float64

In [166]:
condition = spread_df['module'].str.len() >= 2
spread_df['spread_up_1_level'] = np.nan
spread_df.loc[condition, 'spread_up_1_level'] = spread_df.loc[condition, 'module'].str[-2]

/var/folders/c9/c0h9fzn53kg8bh90ry875l8c0000gp/T/ipykernel_45785/3865775690.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['workflows' 'docs' 'docs' ... 'draft' 'draft' 'utils']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  spread_df.loc[condition, 'spread_up_1_level'] = spread_df.loc[condition, 'module'].str[-2]

In [169]:
spread_df.head(2)

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch,module,spread_up_1_level
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n...","[.github, workflows, compile-llms-txt.yml]",workflows
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im...","[docs, compile_llms_txt.py]",docs

In [170]:
condition = spread_df['module'].str.len() >= 3
spread_df['spread_up_2_level'] = np.nan
spread_df.loc[condition, 'spread_up_2_level'] = spread_df.loc[condition, 'module'].str[-3]
spread_df.head(2)

/var/folders/c9/c0h9fzn53kg8bh90ry875l8c0000gp/T/ipykernel_45785/584194399.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['.github' '.github' 'src' ... 'schema' 'schema' 'wan']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  spread_df.loc[condition, 'spread_up_2_level'] = spread_df.loc[condition, 'module'].str[-3]

,sha,pr_id,author,committer,message,commit_stats_total,commit_stats_additions,commit_stats_deletions,filename,status,additions,deletions,changes,patch,module,spread_up_1_level,spread_up_2_level
0,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,.github/workflows/compile-llms-txt.yml,added,38.0,0.0,38.0,"@@ -0,0 +1,38 @@\n+name: Compile llms.txt\n+\n...","[.github, workflows, compile-llms-txt.yml]",workflows,.github
1,2f9d54dda4f0c87c19e0bbeb9936f525d0587e16,3271196926,devin-ai-integration[bot],devin-ai-integration[bot],Add llms.txt compilation system for AI model d...,23008,23008,0,docs/compile_llms_txt.py,added,47.0,0.0,47.0,"@@ -0,0 +1,47 @@\n+import os\n+from pathlib im...","[docs, compile_llms_txt.py]",docs,NaN

In [182]:
spread_agg = spread_df.groupby('pr_id').agg({'spread_up_1_level': 'nunique', 'spread_up_2_level': 'nunique'}).reset_index()
spread_agg['touch_across_modules_level_1'] = spread_agg['spread_up_1_level'] > 1
spread_agg['touch_across_modules_level_2'] = spread_agg['spread_up_2_level'] > 1

In [183]:
spread_agg.head()

,pr_id,spread_up_1_level,spread_up_2_level,touch_across_modules_level_1,touch_across_modules_level_2
0,2756921963,10,3,True,True
1,2757103560,13,10,True,True
2,2757124156,0,0,False,False
3,2757125491,0,0,False,False
4,2757179026,5,5,True,True

In [184]:
spread_agg.head()

,pr_id,spread_up_1_level,spread_up_2_level,touch_across_modules_level_1,touch_across_modules_level_2
0,2756921963,10,3,True,True
1,2757103560,13,10,True,True
2,2757124156,0,0,False,False
3,2757125491,0,0,False,False
4,2757179026,5,5,True,True

In [186]:
tmp = pr_df[['id', 'created_at_ym']]
tmp.columns = ['pr_id', 'created_at_ym']
spread_agg = spread_agg.merge(tmp, on='pr_id', how='left')
spread_agg_re = spread_agg.groupby('created_at_ym')['touch_across_modules_level_1'].value_counts().unstack().reset_index()

** insights: interestingly to see the spread rate have been reduced over time. Maybe its the reason the merge rate over time is increasing.

In [190]:
spread_agg_re['total_prs'] = spread_agg_re[False] + spread_agg_re[True]
spread_agg_re['touch_across_modules_level_1_rate'] = spread_agg_re[True] / spread_agg_re['total_prs']
spread_agg_re

touch_across_modules_level_1,created_at_ym,False,True,total_prs,touch_across_modules_level_1_rate
0,2024-12,20,44,64,0.687500
1,2025-01,125,286,411,0.695864
2,2025-02,193,345,538,0.641264
3,2025-03,259,485,744,0.651882
4,2025-04,307,512,819,0.625153
5,2025-05,2937,2832,5769,0.490900
6,2025-06,6561,5541,12102,0.457858
7,2025-07,7375,5758,13133,0.438438

In [191]:
spread_agg_re2 = spread_agg.groupby('created_at_ym')['touch_across_modules_level_2'].value_counts().unstack().reset_index()
spread_agg_re2['total_prs'] = spread_agg_re2[False] + spread_agg_re2[True] 
spread_agg_re2['touch_across_modules_level_2_rate'] = spread_agg_re2[True] / spread_agg_re2['total_prs']
spread_agg_re2

touch_across_modules_level_2,created_at_ym,False,True,total_prs,touch_across_modules_level_2_rate
0,2024-12,25,39,64,0.609375
1,2025-01,163,248,411,0.603406
2,2025-02,233,305,538,0.566914
3,2025-03,298,446,744,0.599462
4,2025-04,357,462,819,0.564103
5,2025-05,3602,2167,5769,0.375628
6,2025-06,7204,4898,12102,0.404726
7,2025-07,8025,5108,13133,0.388944

In [205]:
# check spread multiple file rate
file_spread_df = pr_commit_details_df.groupby('pr_id').agg({'filename': 'nunique'}).reset_index()
file_spread_df.columns = ['pr_id', 'num_file_changes']
file_spread_df['touch_multiple_files'] = file_spread_df['num_file_changes'] > 1

In [206]:
file_spread_df.head()

        pr_id  num_file_changes  touch_multiple_files
0  2756921963                15                  True
1  2757103560                16                  True
2  2757124156                 1                 False
3  2757125491                 1                 False
4  2757179026                15                  True

In [207]:
tmp = pr_df[['id', 'created_at_ym']]
tmp.columns = ['pr_id', 'created_at_ym']
file_spread_df = file_spread_df.merge(tmp, on='pr_id', how='left')
check = file_spread_df.groupby('created_at_ym')['touch_multiple_files'].value_counts().unstack().reset_index()

In [209]:
check['total_prs'] = check[False] + check[True]
check['touch_multiple_files_rate'] = check[True] / check['total_prs']
check

touch_multiple_files,created_at_ym,False,True,total_prs,touch_multiple_files_rate
0,2024-12,13,51,64,0.796875
1,2025-01,68,343,411,0.834550
2,2025-02,112,426,538,0.791822
3,2025-03,162,582,744,0.782258
4,2025-04,196,623,819,0.760684
5,2025-05,2030,3739,5769,0.648119
6,2025-06,3708,8394,12102,0.693604
7,2025-07,2569,10564,13133,0.804386

In [215]:
# more spread low merge rate?
check = spread_agg.copy()
tmp = pr_df[['id', 'agent', 'is_merged']]
tmp.columns = ['pr_id', 'agent', 'is_merged']
check = check.merge(tmp, on='pr_id', how='left')

check.head()

,pr_id,spread_up_1_level,spread_up_2_level,touch_across_modules_level_1,touch_across_modules_level_2,created_at_ym,agent,is_merged
0,2756921963,10,3,True,True,2024-12,Devin,0
1,2757103560,13,10,True,True,2024-12,Devin,0
2,2757124156,0,0,False,False,2024-12,Devin,0
3,2757125491,0,0,False,False,2024-12,Devin,0
4,2757179026,5,5,True,True,2024-12,Devin,0

** insights: some agent spread more than the others

In [216]:
check.groupby("agent")["spread_up_1_level"].mean()

agent
Claude_Code     9.157205
Copilot         7.205758
Cursor          6.684416
Devin           9.426586
OpenAI_Codex    2.591566
Name: spread_up_1_level, dtype: float64

In [217]:
check.groupby("agent")["spread_up_2_level"].mean()

agent
Claude_Code     4.384279
Copilot         4.125226
Cursor          3.704545
Devin           5.240149
OpenAI_Codex    1.632175
Name: spread_up_2_level, dtype: float64

In [218]:
check.head()

,pr_id,spread_up_1_level,spread_up_2_level,touch_across_modules_level_1,touch_across_modules_level_2,created_at_ym,agent,is_merged
0,2756921963,10,3,True,True,2024-12,Devin,0
1,2757103560,13,10,True,True,2024-12,Devin,0
2,2757124156,0,0,False,False,2024-12,Devin,0
3,2757125491,0,0,False,False,2024-12,Devin,0
4,2757179026,5,5,True,True,2024-12,Devin,0

In [223]:
corr = check.groupby("spread_up_1_level")['is_merged'].value_counts().unstack().fillna(0).reset_index()
corr['total'] = corr[0] + corr[1]
corr['merge_rate'] = corr[1] / corr['total']
corr

is_merged  spread_up_1_level       0        1    total  merge_rate
0                          0   802.0   1162.0   1964.0    0.591650
1                          1  2975.0  12838.0  15813.0    0.811864
2                          2  1988.0   4363.0   6351.0    0.686978
3                          3  1102.0   1687.0   2789.0    0.604876
4                          4   600.0    860.0   1460.0    0.589041
..                       ...     ...      ...      ...         ...
180                      298     1.0      0.0      1.0    0.000000
181                      299     0.0      1.0      1.0    1.000000
182                      386     1.0      0.0      1.0    0.000000
183                      405     1.0      0.0      1.0    0.000000
184                      527     1.0      0.0      1.0    0.000000

[185 rows x 5 columns]

In [224]:
corr['total'].describe()

count      185.000000
mean       181.513514
std       1276.689457
min          1.000000
25%          1.000000
50%          5.000000
75%         14.000000
max      15813.000000
Name: total, dtype: float64

** insights: with more spread, the merge rate is lower. we filter spread groups with more than 100 PRs to see the correlation. Because many PRs spread outliner are not meaningful.

In [229]:
corr[corr['total'] > 100][['spread_up_1_level', 'merge_rate']].corr()

is_merged          spread_up_1_level  merge_rate
is_merged
spread_up_1_level           1.000000   -0.569708
merge_rate                 -0.569708    1.000000

In [233]:
repo_df = pd.read_parquet("hf://datasets/hao-li/AIDev/repository.parquet")

In [234]:
repo_df.head()

,id,url,license,full_name,language,forks,stars
0,966235850,https://api.github.com/repos/kizuna-ai-lab/sokuji,AGPL-3.0,kizuna-ai-lab/sokuji,TypeScript,11,254
1,386644013,https://api.github.com/repos/freenet/freenet-core,NOASSERTION,freenet/freenet-core,Rust,94,2391
2,977155585,https://api.github.com/repos/coleam00/mcp-craw...,MIT,coleam00/mcp-crawl4ai-rag,Python,474,1447
3,528194129,https://api.github.com/repos/vexxhost/atmosphere,None,vexxhost/atmosphere,Smarty,34,142
4,703998226,https://api.github.com/repos/JonasKruckenberg/k23,Apache-2.0,JonasKruckenberg/k23,Rust,32,515

In [235]:
repo_df.language.value_counts()

language
TypeScript    650
Python        530
Go            242
C#            220
JavaScript    190
             ...
RPM Spec        1
ReScript        1
Logos           1
Mojo            1
Jsonnet         1
Name: count, Length: 85, dtype: int64

In [ ]:
from tree_sitter_languages import get_language, get_parser

language = get_language('python')
parser = get_parser('python')

TypeError: __init__() takes exactly 1 argument (2 given)

In [2]:
from tree_sitter_languages import get_language, get_parser

In [3]:
language = get_language('python')
parser = get_parser('python')

In [4]:
import textwrap

patch = textwrap.dedent("""
    def add(a, b):
        return a + b

    class Hello:
        def greet(self):
            print('hi')

    class World:
        def greet(self):
            print('world')

    class HelloWorld:
        def greet(self):
            print('hello world')
""")

In [6]:
import ast
tree = ast.parse(patch)

In [39]:
from tree_sitter import Language, Parser
import ast

# Load built-in Tree-sitter languages
from tree_sitter_languages import get_language

# Supported languages map
LANGUAGES = {
    "typescript": get_language("typescript"),
    "javascript": get_language("javascript"),
    "go": get_language("go"),
    "c_sharp": get_language("c_sharp"),
    "rust": get_language("rust"),
    "cpp": get_language("cpp"),
}

LANG_NODE_TYPES = {
    "cpp": {
        "function": ["function_definition"],
        "method": ["function_definition"],  # in class_specifier
        "class": ["class_specifier"],
    },
    "go": {
        "function": ["function_declaration"],
        "method": ["method_declaration"],
        "class": ["type_declaration"],
    },
    "rust": {
        "function": ["function_item"],
        "method": ["method_item"],
        "class": ["struct_item", "impl_item"],
    },
    "c_sharp": {
        "function": [],
        "method": ["method_declaration"],
        "class": ["class_declaration"],
    },
    "javascript": {
        "function": ["function_declaration", "arrow_function"],
        "method": ["method_definition"],
        "class": ["class_declaration"],
    },
    "typescript": {
        "function": ["function_declaration"],
        "method": ["method_definition"],
        "class": ["class_declaration"],
    },
}

def parse_python(code: str):
    """Extract classes and functions using ast"""
    tree = ast.parse(code)
    classes, functions = [], []

    for node in ast.walk(tree):
        if isinstance(node, ast.FunctionDef):
            # Only add top-level functions, not methods inside classes
            if not isinstance(getattr(node, "parent", None), ast.ClassDef):
                functions.append(node.name)
        elif isinstance(node, ast.ClassDef):
            classes.append(node.name)
        # Track parents
        for child in ast.iter_child_nodes(node):
            child.parent = node

    return {"classes": classes, "functions": functions}

def parse_with_treesitter(lang_name, code: str):
    lang = LANGUAGES[lang_name]
    parser = Parser()
    parser.set_language(lang)
    tree = parser.parse(code.encode())
    root = tree.root_node

    classes, functions = [], []
    node_types = LANG_NODE_TYPES.get(lang_name, {})

    def is_inside_class(node):
        """Check if a node is inside a class"""
        parent = node.parent
        while parent:
            if parent.type in node_types.get("class", []):
                return True
            parent = parent.parent
        return False

    def walk(node):
        ntype = node.type
        print("This is ntype", ntype)
        if ntype in node_types.get("class", []):
            name_node = node.child_by_field_name("name")
            if name_node:
                classes.append(name_node.text.decode())
        elif ntype in node_types.get("function", []):
            # Only add as function if it's NOT inside a class
            if not is_inside_class(node):
                name_node = node.child_by_field_name("name")
                if name_node:
                    functions.append(name_node.text.decode())

        for child in node.children:
            walk(child)

    walk(root)
    return {
        "classes": classes,
        "functions": functions,
    }

def extract_definitions(patch: str, lang: str = 'python'):
    if lang == "python":
        return parse_python(patch)
    elif lang in LANGUAGES:
        return parse_with_treesitter(lang, patch)
    else:
        return {"classes": [], "functions": []}

In [41]:
patch = """
function add(a, b) {
return a + b;
}

class Hello {
    greet() {
        console.log('hi');
    }
}

class World {
    greet() {
        console.log('world');
    }
}

const subtract = (a, b) => {
    return a - b;
};
"""


result = extract_definitions(patch, lang='javascript')
print(result)

This is ntype program
This is ntype function_declaration
This is ntype function
This is ntype identifier
This is ntype formal_parameters
This is ntype (
This is ntype identifier
This is ntype ,
This is ntype identifier
This is ntype )
This is ntype statement_block
This is ntype {
This is ntype return_statement
This is ntype return
This is ntype binary_expression
This is ntype identifier
This is ntype +
This is ntype identifier
This is ntype ;
This is ntype }
This is ntype class_declaration
This is ntype class
This is ntype identifier
This is ntype class_body
This is ntype {
This is ntype method_definition
This is ntype property_identifier
This is ntype formal_parameters
This is ntype (
This is ntype )
This is ntype statement_block
This is ntype {
This is ntype expression_statement
This is ntype call_expression
This is ntype member_expression
This is ntype identifier
This is ntype .
This is ntype property_identifier
This is ntype arguments
This is ntype (
This is ntype string
This is ntype '
This is ntype string_fragment
This is ntype '
This is ntype )
This is ntype ;
This is ntype }
This is ntype }
This is ntype class_declaration
This is ntype class
This is ntype identifier
This is ntype class_body
This is ntype {
This is ntype method_definition
This is ntype property_identifier
This is ntype formal_parameters
This is ntype (
This is ntype )
This is ntype statement_block
This is ntype {
This is ntype expression_statement
This is ntype call_expression
This is ntype member_expression
This is ntype identifier
This is ntype .
This is ntype property_identifier
This is ntype arguments
This is ntype (
This is ntype string
This is ntype '
This is ntype string_fragment
This is ntype '
This is ntype )
This is ntype ;
This is ntype }
This is ntype }
This is ntype lexical_declaration
This is ntype const
This is ntype variable_declarator
This is ntype identifier
This is ntype =
This is ntype arrow_function
This is ntype formal_parameters
This is ntype (
This is ntype identifier
This is ntype ,
This is ntype identifier
This is ntype )
This is ntype =>
This is ntype statement_block
This is ntype {
This is ntype return_statement
This is ntype return
This is ntype binary_expression
This is ntype identifier
This is ntype -
This is ntype identifier
This is ntype ;
This is ntype }
This is ntype ;
{'classes': ['Hello', 'World'], 'functions': ['add']}

In [24]:
lang = LANGUAGES['javascript']
parser = Parser()
parser.set_language(lang)
tree = parser.parse(patch.encode())
root = tree.root_node

In [28]:
classes, functions = [], []
node_types = LANG_NODE_TYPES.get('javascript', {})

In [29]:
node_types = LANG_NODE_TYPES.get('javascript', {})

In [35]:
node_types

{'function': ['function_declaration'],
 'method': ['method_definition'],
 'class': ['class_declaration']}

In [36]:
root.type

'program'

In [33]:
root.child